<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Welcome to Ebabe</h1>

        <p>Login:</p>

    <p>
      <form action="/login" id="login-form" method="post" enctype="multipart/form-data">
         <label for="login-form-comment">User Name: </label>
         <br/>
         <textarea id="login-form-username" name="username" cols="15" rows="1"></textarea>
         <br/>
         <label for="login-form-comment">Password: </label>
         <br/>
         <textarea id="login-form-password" name="password" cols="15" rows="1"></textarea>
         <br/>
         <input type="submit" value="Login">
      </form>
    </p>

</body>
</html>
