html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
  background-color: darkslateblue;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  max-width: 1700px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(92, 84, 141);
}

.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}

nav{
  flex: 1;
  text-align: right;
}

nav ul{
  display: inline-block;
  list-style-type: none;
  margin-top: 5px;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
}

a {
	color: #fff;
  text-decoration: none !important;
  font-weight: 600;
  letter-spacing: 7px;
}
a:hover {
	color: palegreen;
}


p {
  font-size: 1.5em;
  color: #8a8a8a;
}

input {
  border: 0.3em solid #bbc3c6;
  padding: 0.5em 0.3em;
  font-size: 1.4em;
  color: #8a8a8a;
  text-align: center;
}

img {
  max-width: 9em;
  width: 100%;
  overflow: hidden;
  margin-right: 1em;
}

a {
  text-decoration: none;
}

.shop-container {
  max-width: 900px;
  width: 95%;
  margin: 40px auto;
  overflow: hidden;
  position: relative;

  border-radius: 0.6px;
  background: black;
}

#products {
  font-family: 'Poppins', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#products td, #products th {
  border: 2px solid black;
  padding: 20px;

}

#products tr{
  background-color: #f2f2f2;
}

#products th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: palegreen;
  color: black;
  text-align: center;
}

.cart-title {
  color: white;
  margin-left: 330px;
}
