
html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: darkslateblue;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
	color: #fff;
  text-decoration: none !important;
  font-weight: 600;
  letter-spacing: 7px;
}
a:hover {
	color: palegreen;
}

h1 {
  margin-left: 500px;
}

h2, h3, h4, h5, h6 {
  margin-left: 45px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 10px;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
  color: palegreen;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}

.container{
  max-width: 1700px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(92, 84, 141);
}

.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}

nav{
  flex: 1;
  text-align: right;
}

nav ul{
  display: inline-block;
  list-style-type: none;
  margin-top: 5px;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 1000%;
  min-width: 300px;
  margin-top: 250px;
}

.btnDiv{
  position: center;
}

.buttonLeft{
  padding: 20px;
  margin-left: 550px;
  margin-top: 20px;
  width: 9%;
  background-color: black;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bold;
  display: inline-block;
  letter-spacing: 4px;
}

.buttonRight{
  padding: 20px;
  margin-left: 50px;
  margin-top: 20px;
  width: 9%;
  background-color: black;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  display: inline-block;
  letter-spacing: 4px;
}

.buttonRight:hover{
  padding: 20px;
  margin-left: 50px;
  margin-top: 20px;
  width: 9%;
  background-color: palegreen;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bold;
  display: inline-block;
  color: black;
  letter-spacing: 4px;
}

.buttonLeft:hover {
  padding: 20px;
  margin-left: 550px;
  margin-top: 20px;
  width: 9%;
  background-color: #98fb98;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bold;
  display: inline-block;
  color: black;
  letter-spacing: 4px;
}

img {
  display: block;
  margin-left: auto;
}

.title {
  flex-basis: 100%;
  margin-top: 10px;
  margin-left: 65px;
}

.login-form{
	font:'Poppins', sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #f6f6f6;
  border: 3px solid black;
}

.login-form a{
	margin: 10px auto;
	padding: 16px;
	background: #f6f6f6;
  color: black;
  letter-spacing: 0px;
  margin-left: 110px;
}

.login-form h1{
	background: rgb(120, 211, 120);
	padding: 20px 0;
	font-size: 145%;
	font-weight:  bold 300;
	text-align: center;
	color: black;
	margin: -16px -16px 16px -16px;
  letter-spacing: 5px;
}
.login-form input[type="text"]
{
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid rgb(34, 34, 34);
	padding: 3%;
	font: 95% Arial, Helvetica, sans-serif;
}

.login-form input[type="submit"]{
	width: 100%;
	padding: 3%;
	background: rgb(126, 113, 205);
	border: 2px solid black;
	color: black;
  font-weight: bold;
}
.login-form input[type="submit"]:hover{
	background: rgb(107, 197, 107);
}


