<!DOCTYPE html>
<html>
<title>Online HTML Editor</title>
<head>
    <link rel="stylesheet" href="../static/css/cart.css">
</head>
<body>

    <div class="container">
      <div class="navbar">
          <div class="logo">
              <img src="../static/image/Impl Logo.png" width="150px" >
          </div>
          <nav>
              <ul>
                  <li><a href="/home">HOME</a></li>
                  <li><a href="/login">LOGIN</a></li>
                  <li><a href="/listing">LISTINGS</a></li>
                  <li><a href="/register">REGISTER</a></li>
              </ul>
          </nav>
      </div>
  </div>

  <br>
  <br>
  <br>


    <div class="shop-container">

      <h1 class="cart-title">Shopping Cart</h1>

      <table id="products">
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>  
      </table>
  </div>

</body>
</html>
