<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="../static/image/Impl Logo.png" width="150px" >
            </div>
            <nav>
                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/register">REGISTER</a></li>
                    <li><a href="/settings">SETTINGS</a></li>
                    <li><a href="/profile">PROFILE</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="listing-div">
        <h1>SELL AN ITEM</h1>
        <form action="/listing" id="list" method="post" enctype="multipart/form-data">
        <input type="text" id="item-name" name="item-name" placeholder="Name Of Item" />
        <input type="text" id="item-price" name="item-price" placeholder="Price"><br>
        <a>Upload Image</a>
        <input id="form-file" type="file" name="file"><br>
        <p></p>
        <input type="text" id="item-desc" name="item-desc" placeholder="Please Describe The Item"><br>
        <input type="submit" value="Post"/>
        </form>
    </div>

</body>
</html>
