<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="../static/image/Impl Logo.png" width="150px" >
            </div>
            <nav>
                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/register">REGISTER</a></li>
                    <li><a href="/settings">SETTINGS</a></li>
                    <li><a href="/profile">PROFILE</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <br>

    <div class="title">
        <h1>Welcome To IMPL!</h1>
    </div>

    <br>
    <br>

    <div class="login-form">
        <h1>LOGIN</h1>
        <form action="/login" id="login-form" method="post" enctype="multipart/form-data">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" value="Login"/>
        </form>
        <a href="/register">Create An Account</a>
    </div>

</body>
</html>
