<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div class="container">
    <div class="navbar">
        <div class="logo">
            <img src="../static/image/Impl Logo.png" width="150px" >
        </div>
        <nav>
            <ul>
                <li><a href="/home.html">HOME</a></li>
                <li><a href="/login.html">LOGIN</a></li>
                <li><a href="/registration.html">REGISTER</a></li>
            </ul>
        </nav>
    </div>
  </div>

  <br>

  <div class="title">
      <h1>Welcome To IMPL!</h1>
  </div>

  <br>
  <br>

  <div class="login-form">
      <h1>REGISTER</h1>
      <form action="/register" id="login-form" method="post" enctype="multipart/form-data">
      <input type="text" name="username" placeholder="Username" />
      <input type="text" name="password" placeholder="Password" />
      <input type="submit" value="Register"/>
      </form>
      <a href="../templates/login.html">Have An Account?</a>
  </div>

</body>
</html>
