<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="../static/image/Impl Logo.png" width="150px" >
            </div>
            <nav>
                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/register">REGISTER</a></li>
                    <li><a href="/settings">SETTINGS</a></li>
                    <li><a href="/profile">PROFILE</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <br>

    <div class="title">
        <h1>Welcome To IMPL!</h1>
    </div>

    <br>
    <br>
  <div class="settings-form">
      <h1>SETTINGS</h1>
     <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Submit Changes">
  </div>



</body>
</html>
